*{
    box-sizing: border-box;
    font-family: cursive;
}

body{
    margin: 0;
    padding: 0;
}

.title-banner{
    background-color: blue;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container{
    padding: 15px;
    max-width: 1024px;
    margin: 0 auto;
}

h2{
    font-weight: 500px;
    font-size: 2em;
    margin-top: 50px;
}

p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 100px;
}

/* media query section */

@media screen and (min-width: 768px) {
    .title-banner{
        background-color: black;
        color: indigo;
    }

    .item-wrapper{
        display: flex;
        justify-content: space-between;
        color: orange;
        flex-wrap: wrap;
    }

    .item{
        width: 40%;
    }
}

@media screen and (min-width: 1024px) {
    .title-banner{
        background-color: green;
        color: yellow;
    }
    .item-wrapper{
        display: flex;
        justify-content: space-between;
        color: red;
    }
    .item{
        width: 30%;
    }
}